@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'Caveat';
    src: url("https://fonts.gstatic.com/s/caveat/v18/Wnz6HAc5bAfYB2Q7ZjYY.woff2");
}

@theme {
    --font-caveat: "Caveat";
    --font-segoe: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
}

* {
    @apply font-segoe;
    scrollbar-color: #5728a1 #1d0029;
}

::selection {
    background: blueviolet;
}

html {
    @apply scroll-smooth;
}

.link {
    @apply text-blue-500 hover:text-blue-600 transition-colors;
}