
@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

    .popup {
        @apply transition-opacity;
        opacity: 0;
        visibility: hidden;

        &:target {
            opacity: 1;
            visibility: visible;
        }
    }

}



@font-face {
    font-family: 'Caveat';
    src: url("https://fonts.gstatic.com/s/caveat/v18/Wnz6HAc5bAfYB2Q7ZjYY.woff2");
}



body {
    background-color: theme('colors.zinc.900');
}



@media (prefers-reduced-motion) {
    ::view-transition-group(*),
	::view-transition-old(*),
	::view-transition-new(*) {
		animation: none !important;
	}
}
